doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='/socket.io/socket.io.js')
    script.
      $(document).ready(function() {
        var socket = io();
        var posX = 0;
        var posY = 0;

        function updatePosition() {
          $('#player').css('top', posY);
          $('#player').css('left', posX);
        }

        function getRandomPosition() {
          var x = Math.floor(Math.random() * (window.innerWidth + 1));
          var y = Math.floor(Math.random() * (window.innerHeight + 1));

          return { x: x, y: y };
        }

        function addTarget() {
          var pos = getRandomPosition();

          console.log('adding target', pos.x, pos.y);
          $('#targets').append('<div class="target" style="position: absolute; top: ' + pos.y + 'px; left: ' + pos.x + 'px;">');
        }

        function checkCollision() {

        }

        addTarget();
        addTarget();
        addTarget();
        addTarget();

        socket.on('move', function(x, y) {
          posX += x * 4;
          posY += y * 4;
          updatePosition();
        });
      });

